html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'Fira Sans', sans-serif;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




//----------------
.light-grey, .grey, .black, .subMainBkgd, .mainBkgd{
  width: 100px;
  height:100px;
  display: block;
}

//----------------


.temp-info{
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
#map{
  width: 50%;
  margin: 50px 0;
  font-size: 16px;
  padding: 10px 15px;
  border: 1px solid #eaeaea;
}
.currently-temp{
  font-size: 50px;
  span{
    font-size: 160px;
    font-weight: bold;
  }
}
.temp-data{
  display: flex;
  width: 100%;  
  align-items: center; 
  justify-content: space-around;
}

.currently-wind{   
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid hotpink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.wind-arrow{
  width: 30px;
  height: 0px;
  position: absolute;
  top: -20px;
  left: 60px;
  transition: 2s;   
  transform-origin: 15px 95px;
}



.currently-info p {
  display: inline-block;
  padding: 0 10px;
  font-weight: bold;
  span{
    font-weight: normal;
  }
}


















.currently-icon{
  display: block;
  height: 160px;
  width: 160px;
  border: 1px dotted black;
  &:after{
    display: block;
    font-size: 100px;
  }
  &.partly-cloudy-night{
    &:after{
      content: "🌤";
    }
  }
  &.cloudy:after{
    content: "☁️";
  }
  &.rain:after, &.sleet:after, &.hail:after{
    content: "🌧";
  }
  &.snow:after{
    content: "🌨";
  }
  &.wind:after{
    content: "🌬";
  }
  &.fog:after{
    content: "🌫";
  }
  &.thunderstrom:after{
    content: "🌩";
  }
  &.tornado:after{
    content: "🌪";
  }
  
  
  
  svg{
    display: none;
  }
  &.clear-day svg.clear-day-icon, &.clear-night svg.clear-night-icon, &.partly-cloudy-day svg.partly-day-icon, &.partly-cloudy-night svg.partly-night-icon, &.cloudy svg.cloudy-icon, &.rain svg.rainy-icon{
//    display: block;
  }
  svg.rainy-icon{
    display: block !important;
  }
}


@keyframes rotate {
  from {transform: rotate(0)}
  to {transform: rotate(360deg)}
}

@keyframes wobble {
  from {transform: rotate(-20deg)}
  to {transform: rotate(-10deg)}
}

.clear-day-icon{
  animation: rotate 100s infinite linear;
  transform: rotate(0);
  line{
    stroke-linecap: round;
  }
  circle{
    fill: none;
  }
  line, circle{
    stroke: #000000;
    stroke-miterlimit: 10;
    stroke-width: 2px;
  }
}
.clear-night-icon{
  fill:none;
  stroke:#000000;
  stroke-width:2;
  stroke-linejoin:round;
  animation: wobble 10s infinite alternate ease-in-out;
}

.partly-day-icon{
  line{
    stroke-linecap: round;
  }
  circle{
    fill: none;
  }
  path{
    stroke-linejoin: round;
  }
  line, path{
    fill: #ffffff;
  }
  line, circle{
    stroke-miterlimit: 10;
  }
  line, circle, path{
    stroke: #000000;
    stroke-width: 2px;
  }
}
.partly-night-icon{
  path{
    stroke: #000000;
    stroke-width: 2px;
    fill: transparent;
  }
  .cloud-svg{
    fill: #ffffff;
  }
}

.cloudy-icon{
  path{
    stroke: #000000;
    stroke-width: 2px;
    fill: #ffffff;
  }
}

.rainy-icon{
  line, path{
    stroke: #000000;
    stroke-width: 2px;
    stroke-linecap:round;
    stroke-miterlimit: 10;
    fill: transparent;
    position: relative;
  }
  line:nth-of-type(odd){
    transform: translatey(8px);
    animation: rain-alt .75s infinite linear alternate;
  }
  line:nth-of-type(even){
    transform: translatey(0);
    animation: rain .75s infinite linear alternate;
  }
}

@keyframes rain {
  0% {transform: translatey(4px); opacity: 1;}
  30% {transform: translatey(4px); opacity: 1;}
  31% {transform: translatey(4px); opacity: 0;}
  70% {transform: translatey(0); opacity: 0;}
  71% {transform: translatey(0); opacity: 1;}
  100% {transform: translatey(0); opacity: 1;}
}
@keyframes rain-alt {
  0% {transform: translatey(0); opacity: 1;}
  30% {transform: translatey(0); opacity: 1;}
  31% {transform: translatey(0); opacity: 0;}
  70% {transform: translatey(4px); opacity: 0;}
  71% {transform: translatey(4px); opacity: 1;}
  100% {transform: translatey(4px); opacity: 1;}
}